/* Base reset */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E7E9FC;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
}

.logo span {
    color: #2E2F42;
}

.page-nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.link {
    display: block;
    text-decoration: none;
    padding: 24px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.link:hover,
.link:focus {
    color: #404BBF;
}

.page-contacts {
    margin-left: auto;
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 24px 0;
}

.page-contacts .link {
    font-weight: 400;
    color: #434455;
}

.page-main {
    background-color: #2E2F42;
    padding: 188px 0 188px;
    text-align: center;
}

.page-main .page-studio {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 496px;
    margin: 0 auto 48px;
}

.button {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

.section {
    padding: 120px 0;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.features-list .list {
    width: calc((100% - 72px) / 4);
}

.page-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
}

.team {
    background-color: #F4F4FD;
}

.images-contacts {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.images-contacts .images {
    width: calc((100% - 72px) / 4);
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow:
        0 2px 1px rgba(46, 47, 66, 0.08),
        0 1px 1px rgba(46, 47, 66, 0.16),
        0 1px 6px rgba(46, 47, 66, 0.08);
}

.title-team {
    text-align: center;
    padding: 32px 16px 0;
}

.section-team {
    padding: 0 16px 32px;
    text-align: center;
}

.list-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.list-portfolio .images {
    width: calc((100% - 48px) / 3);
    background-color: #FFFFFF;
}

.title-portfolio {
    padding: 32px 16px 0;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
}

.section-portfolio {
    padding: 0 16px 32px;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
}

.title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.section-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.page-footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.container-footer {
    max-width: 264px;
    margin: 0 auto;
}

.page-logo {
    color: #F4F4FD;
}

footer .text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 16px;
}

footer .link {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #F4F4FD;
}
